i am rendered with handlebars, my name is {{name}}

<ul id="cli-res"></ul>

<ul id="msg-area"></ul>

<form action="#" method="post" name="msg-form" id="msg-form">
    <input type="text" id="msg-input" value="">
    <button type="button" id="send-button">Send</button>
</form>
